import os
import random
from PIL import Image
import torch
from torch.utils.data import Dataset, DataLoader
import torchvision.transforms as transforms
from dataloader import DefectDataset
import gdown
import zipfile
import shutil
import os
import random
from PIL import Image
import matplotlib.pyplot as plt
import torch.nn as nn
from math import log10
from torchmetrics.functional import structural_similarity_index_measure as ssim
